#Sun, 07 Apr 2013 16:03:55 +0400
# The name of the application
app.name=WebSocketDemo

# The name of the framework used by the application (ext / touch)
app.framework=ext

# The path(s) to application javascript sources (comma separated)
app.classpath=app,clear

# Output location for application build artifacts
app.build.dir=${workspace.build.dir}/${app.name}

# The root namespace to use when mapping scss resources to js classes
# in the sass/src and sass/var directories
app.sass.namespace=WebSocketDemo

# Path to sass rule definition files corresponding to JavaScript classes.
app.sass.srcpath=${app.dir}/sass/src

# Path to sass variable definition files corresponding to JavaScript classes.
app.sass.varpath=${app.dir}/sass/var

# Path to sass function and mixin files.
app.sass.etcpath=${app.dir}/sass/etc/all.scss

# The name of the package containing the theme scss for the app
app.theme=ext-theme-neptune

#==============================================================================
# Custom Properties - Place customizations below this line to avoid merge
# conflicts with newer versions

app.cmd.version=3.1.0.256

app.id=1497e256-96c6-406d-88a0-f4d2b2b8da60
