.#{$prefix}form-cb {
    vertical-align: top;
    overflow: hidden;
    padding: 0;
    border: 0;
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

@if $include-ie {
    .#{$prefix}form-cb-label {
        zoom: 1; // give the label element hasLayout so that IE will respect its line-height
    }
}

@if $include-ie {
    /* Hack for IE; causes alignment problem in IE9 standards mode so exclude that */
    .#{$prefix}nbr.#{$prefix}ie {
        .#{$prefix}form-cb {
            font-size: 0;
        }
    }
}