$window-base-color: $base-highlight-color !default;
$window-body-border-width: 0 !default;
$window-border-width: $panel-frame-border-width !default;
$window-header-border-width: $window-border-width !default;