$loadmask-opacity: 0.88 !default;
$loadmask-background: #fff !default;
$loadmask-msg-padding: 0 !default;
$loadmask-msg-background-color: transparent !default;
$loadmask-msg-inner-icon-position: center 0 !default;
$loadmask-msg-inner-color: #666 !default;
$loadmask-msg-inner-background-color: transparent !default;
$loadmask-msg-inner-padding: 0 !default;
$loadmask-msg-text-padding: 26px 5px 5px !default;
$loadmask-msg-border-width: 0 !default;
$loadmask-msg-inner-border-width: 0 !default;
