$menu-separator-size: 1px !default;
$menu-item-active-background-color: mix(#fff, $base-light-color, 50%) !default;
$menu-border-width: 1px !default;
$menu-item-margin: 0 !default;
$menu-item-border-width: 0 !default;
$menu-padding: 0 !default;
$menu-item-trailing-padding: 4px !default;