@if $include-ext-toolbar-toolbar {
    @include extjs-button-ui(
        $ui: 'plain-small',

        $border-radius: $button-small-border-radius,
        $border-width: $button-small-border-width,

        $border-color: transparent,
        $border-color-over: $button-toolbar-border-color-over,
        $border-color-focus: $button-toolbar-border-color-focus,
        $border-color-pressed: $button-toolbar-border-color-pressed,
        $border-color-disabled: $button-toolbar-border-color-disabled,

        $padding: $button-small-padding,
        $text-padding: $button-small-text-padding,

        $background-color: transparent,
        $background-color-over: $button-toolbar-background-color-over,
        $background-color-focus: $button-toolbar-background-color-focus,
        $background-color-pressed: $button-toolbar-background-color-pressed,
        $background-color-disabled: $button-toolbar-background-color-disabled,

        $background-gradient: $button-toolbar-background-gradient,
        $background-gradient-over: $button-toolbar-background-gradient-over,
        $background-gradient-focus: $button-toolbar-background-gradient-focus,
        $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
        $background-gradient-disabled: $button-toolbar-background-gradient-disabled,

        $color: $button-toolbar-color,
        $color-over: $button-toolbar-color-over,
        $color-focus: $button-toolbar-color-focus,
        $color-pressed: $button-toolbar-color-pressed,
        $color-disabled: $button-toolbar-color-disabled,

        $font-size: $button-small-font-size,
        $font-size-over: $button-small-font-size-over,
        $font-size-focus: $button-small-font-size-focus,
        $font-size-pressed: $button-small-font-size-pressed,
        $font-size-disabled: $button-small-font-size-disabled,

        $font-weight: $button-small-font-weight,
        $font-weight-over: $button-small-font-weight-over,
        $font-weight-focus: $button-small-font-weight-focus,
        $font-weight-pressed: $button-small-font-weight-pressed,
        $font-weight-disabled: $button-small-font-weight-disabled,

        $font-family: $button-small-font-family,
        $font-family-over: $button-small-font-family-over,
        $font-family-focus: $button-small-font-family-focus,
        $font-family-pressed: $button-small-font-family-pressed,
        $font-family-disabled: $button-small-font-family-disabled,

        $icon-size: $button-small-icon-size,
        $arrow-width: $button-small-arrow-width,
        $arrow-height: $button-small-arrow-height,
        $split-width: $button-small-split-width,
        $split-height: $button-small-split-height
    );

    @include extjs-button-ui(
        $ui: 'plain-medium',

        $border-radius: $button-medium-border-radius,
        $border-width: $button-medium-border-width,

        $border-color: transparent,
        $border-color-over: $button-toolbar-border-color-over,
        $border-color-focus: $button-toolbar-border-color-focus,
        $border-color-pressed: $button-toolbar-border-color-pressed,
        $border-color-disabled: $button-toolbar-border-color-disabled,

        $padding: $button-medium-padding,
        $text-padding: $button-medium-text-padding,

        $background-color: transparent,
        $background-color-over: $button-toolbar-background-color-over,
        $background-color-focus: $button-toolbar-background-color-focus,
        $background-color-pressed: $button-toolbar-background-color-pressed,
        $background-color-disabled: $button-toolbar-background-color-disabled,

        $background-gradient: $button-toolbar-background-gradient,
        $background-gradient-over: $button-toolbar-background-gradient-over,
        $background-gradient-focus: $button-toolbar-background-gradient-focus,
        $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
        $background-gradient-disabled: $button-toolbar-background-gradient-disabled,

        $color: $button-toolbar-color,
        $color-over: $button-toolbar-color-over,
        $color-focus: $button-toolbar-color-focus,
        $color-pressed: $button-toolbar-color-pressed,
        $color-disabled: $button-toolbar-color-disabled,

        $font-size: $button-medium-font-size,
        $font-size-over: $button-medium-font-size-over,
        $font-size-focus: $button-medium-font-size-focus,
        $font-size-pressed: $button-medium-font-size-pressed,
        $font-size-disabled: $button-medium-font-size-disabled,

        $font-weight: $button-medium-font-weight,
        $font-weight-over: $button-medium-font-weight-over,
        $font-weight-focus: $button-medium-font-weight-focus,
        $font-weight-pressed: $button-medium-font-weight-pressed,
        $font-weight-disabled: $button-medium-font-weight-disabled,

        $font-family: $button-medium-font-family,
        $font-family-over: $button-medium-font-family-over,
        $font-family-focus: $button-medium-font-family-focus,
        $font-family-pressed: $button-medium-font-family-pressed,
        $font-family-disabled: $button-medium-font-family-disabled,

        $icon-size: $button-medium-icon-size,
        $arrow-width: $button-medium-arrow-width,
        $arrow-height: $button-medium-arrow-height,
        $split-width: $button-medium-split-width,
        $split-height: $button-medium-split-height
    );

    @include extjs-button-ui(
        $ui: 'plain-large',

        $border-radius: $button-large-border-radius,
        $border-width: $button-large-border-width,

        $border-color: transparent,
        $border-color-over: $button-toolbar-border-color-over,
        $border-color-focus: $button-toolbar-border-color-focus,
        $border-color-pressed: $button-toolbar-border-color-pressed,
        $border-color-disabled: $button-toolbar-border-color-disabled,

        $padding: $button-large-padding,
        $text-padding: $button-large-text-padding,

        $background-color: transparent,
        $background-color-over: $button-toolbar-background-color-over,
        $background-color-focus: $button-toolbar-background-color-focus,
        $background-color-pressed: $button-toolbar-background-color-pressed,
        $background-color-disabled: $button-toolbar-background-color-disabled,

        $background-gradient: $button-toolbar-background-gradient,
        $background-gradient-over: $button-toolbar-background-gradient-over,
        $background-gradient-focus: $button-toolbar-background-gradient-focus,
        $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
        $background-gradient-disabled: $button-toolbar-background-gradient-disabled,

        $color: $button-toolbar-color,
        $color-over: $button-toolbar-color-over,
        $color-focus: $button-toolbar-color-focus,
        $color-pressed: $button-toolbar-color-pressed,
        $color-disabled: $button-toolbar-color-disabled,

        $font-size: $button-large-font-size,
        $font-size-over: $button-large-font-size-over,
        $font-size-focus: $button-large-font-size-focus,
        $font-size-pressed: $button-large-font-size-pressed,
        $font-size-disabled: $button-large-font-size-disabled,

        $font-weight: $button-large-font-weight,
        $font-weight-over: $button-large-font-weight-over,
        $font-weight-focus: $button-large-font-weight-focus,
        $font-weight-pressed: $button-large-font-weight-pressed,
        $font-weight-disabled: $button-large-font-weight-disabled,

        $font-family: $button-large-font-family,
        $font-family-over: $button-large-font-family-over,
        $font-family-focus: $button-large-font-family-focus,
        $font-family-pressed: $button-large-font-family-pressed,
        $font-family-disabled: $button-large-font-family-disabled,

        $icon-size: $button-large-icon-size,
        $arrow-width: $button-large-arrow-width,
        $arrow-height: $button-large-arrow-height,
        $split-width: $button-large-split-width,
        $split-height: $button-large-split-height
    );
}