$tab-base-color: #eaeaea !default;
$tab-color-active: #333333 !default;

$tab-background-gradient: color-stops(#dcdcdc, #eaeaea) !default;
$tab-background-gradient-over: 'tab-over' !default;
$tab-background-gradient-active: color-stops(#ffffff, #eaeaea) !default;
$tab-background-gradient-disabled: 'tab-disabled' !default;