.#{$prefix}grid-row-checker,
.#{$prefix}column-header-checkbox .#{$prefix}column-header-text {
    background-image: theme-background-image('grid/row-check-sprite');
    background-position: 0 -1px;
}

.#{$prefix}grid-hd-checker-on .#{$prefix}column-header-text,
.#{$prefix}grid-row-selected .#{$prefix}grid-row-checker,
.#{$prefix}grid-row-checked .#{$prefix}grid-row-checker {
    background-image: theme-background-image('grid/row-check-sprite');
    background-position: -25px -1px;
}